ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li{
  display: inline-block;
  justify-content: center;
  padding: 10px;
  transition: background-color 500ms;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202122;
  min-height: 90px;
  max-width: 100vw;
}


nav h1{
  display: flex;
  align-items: center;
  margin: 0;
  color: #FFF
}

nav h1 img{
  width: 70px;
  padding-right: 10px;
}

nav ul li:hover{
  border-radius: 5px;
  background-color: #5a5a5a;
}

nav ul li a{
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
}

body{
  background-image: url("../public/images/imghomepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.findHome{
  background-color: #5a5a5aad;
  display: flex;
  justify-content: center;
  color: #fff;
}

.searchbarHome {
  display: flex;
  justify-content: center;
  margin-top: 10%;
   
}

.searchbarHome input[type=text]{   
  margin: 8px 0; 
  padding: 12px 20px; 
  border: 2px solid;
}

.listingHome{
  display: flex;
  justify-content:space-around;
}

.flip-card {
  position:relative;
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  padding-bottom: 2.5rem
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #202122;
  color: white;
  transform: rotateY(180deg); 
  position: absolute;
  display: grid;
}

.casa1, .casa2, .casa3, .casa4{
  width: 300px;
  height: 200px;
}

.propertyClass{
  display: flex;
  justify-content: center;
  color: #202122;
  padding-top: 2rem;
}

.cards-properties{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.imageProperties{
  width: 300px;
  height: 200px;
}

.cards{
  display: flex;
  justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 5rem;
  cursor: pointer;
}

.cardPropertyDetails{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
}


form input, form textarea{
  display: block;
  border: 2px solid;
  margin: 8px 0; 
  padding: 12px 20px;
  
}

form label{
  display: block;
}


form input[type="checkbox"], form input[type="radio"]{
  display: block;
  
}


.footer{
  position: fixed;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  background: #202122;
  color: #FFF;
  max-height: 90px;
  width: 100%;
  bottom: 0;
}


.footer p {
  font-size: 1em;
  color: #FFF;
}

.footer ul {
  font-size: 1em;
  list-style-type: none;
  display: flex;
}

.footer ul li a {
  font-size: 0.618em;
  text-transform: uppercase;
  padding: 1.75em 1.75em 1.75em 1.75em;
  color: #ffffff;
  transition: all 500ms ease;
}

.footer ul li a:hover {
  color: #5a5a5a;
}

.formContacts{
  margin: 0 auto; 
  position: relative;
  margin-left: 45%;
  padding-top: 1rem;
}

.buttonContact{
  margin: 1rem;
  margin-bottom: 5rem;
  padding: 10px;   
  border: none;   
  cursor: pointer;
}

.buttonContact:hover {   
  opacity: 0.7;   
}   

.checkbox{
  display: flex;
}

.h2Contact, .h3Contact, .pContact{
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.divBackground{
  background-color: #5a5a5aad;
  position: relative;
  
}

.loginForm button {     
  padding: 15px;   
  margin: 10px 0px;   
  border: none;   
  cursor: pointer;   
}   

.loginForm input[type=text], input[type=password] {   
  margin: 8px 0; 
  padding: 12px 20px; 
  border: 2px solid;
}

.loginForm button:hover {   
  opacity: 0.7;   
}   

.container {   
  padding: 2rem;
  margin-bottom: 12rem;
}   

.loginForm{
  display: flex;
  justify-content: center;
  padding-top: 13rem;
}

.detailsText{
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 5rem;
  color: #FFF;
  background-color: #5a5a5aad;
  height: 18.6rem;
  
}

.cardPropertyDetails{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 20%;
  position: relative;
  padding-bottom: 1rem;
}


@media (max-width: 1240px) {
  .cards {
    flex-flow: column wrap;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    cursor: pointer;
  }
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}

.hamburger span {
  height: 2px;
  width: 25px;
  background-color: #fff;
  margin-bottom: 4px;
  border-radius: 5px;
}

@media (max-width: 300px){
  nav h1{
    display: flex;
    align-items: center;
    margin: 0;
    color: #FFF;
    font-size: 1.2em;
  }

  .h2Contact{
    margin-left:6%;
    font-size: 1.1em;
  }

  .formContacts{
    margin: auto ;
    position: relative;
    margin-left: 10%;
    padding-top: 0.5rem;
    flex-flow: column wrap;
  }

  .divBackground{
    background-color: #5a5a5aad;
    position: relative;
  }

}


@media (max-width: 500px){
  nav h1{
    display: flex;
    align-items: center;
    margin: 0;
    color: #FFF;
    font-size: 1.2em;
  }

  .h2Contact{
    margin-left:6%;
    font-size: 1.1em;
  }

  .formContacts{
    margin: auto;
    position: relative;
    margin-left: 25%;
    padding-top: 0.5rem;
    flex-flow: column wrap;
  }

  .divBackground{
    background-color: #5a5a5aad;
    position: relative;

  }
}

@media (max-width: 700px){
  nav h1{
    display: flex;
    align-items: center;
    margin: 0;
    color: #FFF;
    font-size: 1.2em;
  }

  .h2Contact{
    margin-left:6%;
    font-size: 1.1em;
  }

  .formContacts{
    margin: auto;
    position: relative;
    margin-left: 45%;
    padding-top: 0.5rem;
    flex-flow: column wrap;
  }

  .divBackground{
    background-color: #5a5a5aad;
    position: relative;
    padding-bottom: 50%;
    
  }

}

@media (max-width: 950px){
  nav h1{
    display: flex;
    align-items: center;
    margin: 0;
    color: #FFF;
    font-size: 1.2em;
  }

  .h2Contact{
    margin-left:6%;
    font-size: 1.2em;
  }

  .formContacts{
    margin: auto;
    position: relative;
    margin-left: 40%;
    padding-top: 0.5rem;
    flex-flow: column wrap;
  }

  .divBackground{
    background-color: #5a5a5aad;
    position: relative;
    padding-bottom: 25%;
    
  }

}

@media (max-width: 1000px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #202122;
    width: 100%;
    text-align: center;
    z-index: 0;
  }

  nav ul.open {
    display: flex;
    z-index: 1;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .hamburger {
    display: flex;
  }
}